<html>
  <head>
    <title>Qurl.gq - <%= shortUrl %>
    </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">

    <!-- JavaScript -->
    <script src="/js/theme.js" defer></script>
    <script src="/js/time.js" defer></script>
  </head>

  <body class="container">
    <header>
      <hgroup>
        <h1>Qurl.gq</h1>
        <h3>An open-source URL Shortener written in Node.js 🔗</h3>
      </hgroup>
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/<%= shortUrl %>"><%= shortUrl %></a>
          </li>
          <li>Info</li>
        </ul>
      </nav>
    </header>

    <main>
      <table>
        <tbody>
          <tr>
            <th>Shortened URL:</th>
            <td>
              <a href="/<%= shortUrl %>">https://qurl.gq/<%= shortUrl %></a>
            </td>
          </tr>
          <tr>
            <th>Destination:</th>
            <td>
              <a href="<%= destination %>"><%= destination %></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total Redirects:</th>
            <td>
              <%= redirects %>
            </td>
          </tr>
        </tfoot>
      </table>
      <% if (logIps) { %>
        <table>
          <thead>
            <tr>
              <th>IP Address</th>
              <th>Location</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% for (const visitor of visitors) { %>
              <tr>
                <td>
                  <%= visitor.ipAddress %>
                </td>
                <td>
                  <%= visitor.location %>
                </td>
                <td time="<%= visitor.time %>">
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      <% } else { %>
        <p>This URL does not collect IP addreses.</p>
      <% } %>
    </main>

    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://github.com/TheRedstoneRadiant/Qurl.gq">Github</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="javascript:undefined" id="lightbulb"><i class="fa-solid fa-lightbulb"></i></a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
