<html>
  <head>
    <title>Qurl.gq - <%= shortUrl %></title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/info.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css"
    />

    <!-- JavaScript -->
    <script>
      const visitors = "<%- JSON.stringify(visitors) %>";
      const mapToken = "<%- mapToken %>";
    </script>
    <script src="/js/time.js" defer></script>
    <script src="/js/theme.js" defer></script>
    <script src="/js/mapbox.js" defer></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
  </head>

  <body class="container">
    <header>
      <%- include('partials/header') %>
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/<%= shortUrl %>"><%= shortUrl %></a>
          </li>
          <li>Info</li>
        </ul>
      </nav>
    </header>

    <main>
      <table>
        <tr>
          <th>Shortened URL:</th>
          <td>
            <a href="/<%= shortUrl %>">https://qurl.gq/<%= shortUrl %></a>
          </td>
        </tr>
        <tr>
          <th>Destination:</th>
          <td>
            <a href="<%= destination %>"><%= destination %></a>
          </td>
        </tr>
        <tr>
          <th>Total Redirects:</th>
          <td><%= redirects %></td>
        </tr>
      </table>

      <% if (!logIps) { %>
      <p class="visitors">This URL does not collect IP addresses.</p>
      <% } else if (visitors.length !== 0) { %>
      <h2 class="visitors">Visitor Map</h2>
      <section class="section-map" style="margin-top: 15px">
        <div id="map"></div>
      </section>
      <table>
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% for (const visitor of visitors) { %>
          <tr>
            <td><%= visitor.ipAddress %></td>
            <td><%= visitor.location %></td>
            <td time="<%= visitor.time %>"></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
